---
import Layout from '../layouts/Layout.astro';
import SearchBar from '../components/SearchBar.astro';
import Grid from '../components/Grid.astro';
---

<Layout>
	<SearchBar />
	<main>
		<Grid />
	</main>
</Layout>