<a href="/">
  <button class="back">
    <i aria-hidden="false" class="fa-solid fa-arrow-left-long"></i>
    Back
  </button>
</a>

<style>
  .back {
    background-color: var(--primary-bg);
    box-shadow: rgb(0, 0, 0, .2) 0px 0px 5px;
    padding: .5em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
    border-radius: var(--radius);
  }
</style>